@model SchoolManager.Models.Subjects

@{
    ViewData["Title"] = "Edit";
}

<h1>Επεξεργασία Μαθήματος</h1>

<!--<h4>Subjects</h4>-->
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SubjectId" />
            <div class="form-group">
                <label asp-for="StudentAmount" class="control-label"> <a>Αριθμός Μαθητών</a> </label>
                <input asp-for="StudentAmount" class="form-control" />
                <span asp-validation-for="StudentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredGrade" class="control-label"> <a>Ελάχιστος Βαθμός</a> </label>
                <input asp-for="RequiredGrade" class="form-control" />
                <span asp-validation-for="RequiredGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredHours" class="control-label"> <a>Ελάχιστες Διδακτικές Ώρες</a> </label>
                <input asp-for="RequiredHours" class="form-control" />
                <span asp-validation-for="RequiredHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredTests" class="control-label"> <a>Ελάχιστα Τεστ</a> </label>
                <input asp-for="RequiredTests" class="form-control" />
                <span asp-validation-for="RequiredTests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTests" class="control-label"> <a>Συνολικά Βαθμός</a> </label>
                <input asp-for="TotalTests" class="form-control" />
                <span asp-validation-for="TotalTests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHours" class="control-label"> <a>Συνολικές Διδακτικές Ώρες</a> </label>
                <input asp-for="TotalHours" class="form-control" />
                <span asp-validation-for="TotalHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAbsentHours" class="control-label"> <a>Μέγιστες Απουσίες</a> </label>
                <input asp-for="MaxAbsentHours" class="form-control" />
                <span asp-validation-for="MaxAbsentHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherCountInClass" class="control-label"> <a>Αριθμός Καθηγητών σε Αίθουσα</a> </label>
                <input asp-for="TeacherCountInClass" class="form-control" />
                <span asp-validation-for="TeacherCountInClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherRegistered" class="control-label"> <a>Ποσότητα Καθηγητών</a></label>
                <input asp-for="TeacherRegistered" class="form-control" />
                <span asp-validation-for="TeacherRegistered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"> <a>Τομέας</a> </label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Αποθήκευση Αλλαγών" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Πίσω στην λίστα</a>
</div>

