@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My School: </h1>
    <p>Welcome to a knock-off mySchool built with ASP.NET Core by Pegos</a>.</p>
</div>
